language: php

jobs:
    include:
        - php: 7.1
          env: COMPOSER_FLAGS="--prefer-lowest"
        - php: 7.2
        - php: 7.3
        - php: 7.4
        - php: nightly
          env: COMPOSER_FLAGS="--ignore-platform-reqs"

before_script:
    - composer update $COMPOSER_FLAGS --no-interaction
